<div class="cf-dialog-title">{{todoId === null ? 'Új elem hozzáadása' : 'Elem módosítása'}}</div>

<form [formGroup]="formGroup">
    <div>
        <cf-inputtext [label]="'Leírás'" formControlName="text"></cf-inputtext>
    </div>

    <div>
        <cf-inputtext [label]="'desc'" formControlName="description"></cf-inputtext>
    </div>

    <div>
        <cf-checkbox [label]="'Kész'" formControlName="done"></cf-checkbox>
    </div>

    <span>
        <button cfButton [severity]="'success'" [label]="'Ok'" (click)="save()"></button>
        <button cfButton [severity]="'danger'" [label]="'Mégsem'" (click)="close()"></button>
    </span>
</form>