:host {
    width: 450px;
    display: block;
}

div {
    margin: 8px 0;

    cf-inputtext {
        width: 100%;
    }
}

span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}